<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is the home page</h1>
    <h2>Name : {{name}}</h2>
    <h2>Age : {{age}}</h2>
    <a href="login">LogIn</a><br><br>
    <a href = "signup">Signup</a>
    <br>
    <br>
    <!-- <form action="add" method="POST">
        {%csrf_token%}
        <label>First number</label>
        <input type = "text" name="num1">
        <br><br>
        <label>Second number</label>
        <input type = "text" name="num2"><br>
        <input type="submit">
    </form> -->
</body>
</html>